#Aboutme{
    color: white;
}
.main{
    background: linear-gradient(#a29bfe,#74b9ff);
}
.containt-heading{
    text-align: center;
    animation-duration: 3s;
    animation-name: s;
}
@keyframes s{
    from{
        margin-left: 20%;
    }
    to{
        margin-left: 0%;
    }
}
.hobys{
    display: flex;
}

@media screen and (max-width: 600px){

    .hobies-image-1{
        width: 200px;
        
    }
    .hobies-image-2{
        width: 200px;
        
    }
}
@media screen and (max-width: 900px) {
    
    .hobys{
        flex-direction: column;
    }
}
