.start-word{
    background:linear-gradient(#380036,#0CBABA)
}
.first-heading{
    height: 100vh;
    display: grid;
    place-items:center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    word-spacing: 10px;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-right: 50%;
    }
    to{
        margin-right: 0%;
    }
}